{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block sarlavha %}Kutubxona{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>

<div style="text-align:center;">

    <nav>
        <a href="{% url 'haqida' %}">Haqida</a>
        <a href="{% url 'salom' %}">Salom</a>
        <a href="{% url 'muallif' %}">Muallif</a>
        <a href="{% url 'kitoblar' %}">Kitoblar</a>
        <a href="{% url 'filtrlar' %}">Filtrlar</a>
        <a href="{% url 'shartlar' %}">Shartlar</a>
        <a href="{% url 'static_test' %}">Static test</a>
        <a href="{% url 'home' %}">Home (extends)</a>
        <a href="{% url 'haqida' %}">Haqida</a>
        
    </nav>

    <main>
        {% block kontent %}{% endblock %}
    </main>

    <footer>
        &copy; 2026 Kutubxona
    </footer>

</div>

</body>
</html>