{% extends 'main/base.html' %}

{% block sarlavha %}
Bosh sahifa
{% endblock %}

{% block kontent %}
<h1>Kutubxonaga xush kelibsiz!</h1>
{% endblock %}

 <nav style="text-align:center;">
    <ul style="list-style:none; padding:0; display:inline-block;">
        <li><a href="{% url 'bosh_sahifa' %}">Bosh sahifa</a></li>
        <li><a href="{% url 'salom' %}">Salom</a></li>
        <li><a href="{% url 'muallif' %}">Muallif</a></li>
        <li><a href="{% url 'kitoblar' %}">Kitoblar</a></li>
        <li><a href="{% url 'filtrlar' %}">Filtrlar</a></li>
        <li><a href="{% url 'shartlar' %}">Shartlar</a></li>
        <li><a href="{% url 'static_test' %}">Static test</a></li>
        <li><a href="{% url 'home' %}">Home (extends)</a></li>
        <li><a href="{% url 'haqida' %}">Haqida</a></li>
    </ul>
</nav>